<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="memory" xsi:type="Memory" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
        <target name="logfile" xsi:type="File"
                fileName="${specialfolder:folder=ApplicationData}/SEACURE(TOOL)/logs/app-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString,Data}"
                archiveFileName="${specialfolder:folder=ApplicationData}/SEACURE(TOOL)/logs/archives/app-${shortdate}.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="memory,logfile" />
    </rules>
</nlog>
